#teste {
  display: flex;
  flex-direction: column;
  text-align: center;
}

section {
  padding-top: 30px;
}

#criar-tarefa {
  padding: 6;
}
#criacao{
  display: flex;
  justify-content: center;
  gap: 5px;
}
.selecionado{
  background-color: gray;
}
.completed{
  text-decoration: line-through;
}
/* #lista-tarefas{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  padding: auto;
  margin: 20px 300px ;
} */