#teste {
  display: flex;
  flex-direction: column;
  text-align: center;
}

section {
  padding-top: 30px;
}

#criar-tarefa {
  padding: 13px;
}
#criacao{
  display: flex;
  justify-content: center;
  gap: 5px;
}
.selecionado{
  background-color: gray;
}
.completed{
  text-decoration: line-through;
}